services:
    keycloak_db:
        container_name: keycloak_db
        image: 'postgres:16.4-alpine3.20'
        environment:
            PGUSER: ${POSTGRES_USER}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - ./volumes/keycloak/dbdata:/var/lib/postgresql/data/:delegated

    keycloak:
        image: quay.io/keycloak/keycloak:latest
        command: start-dev
        ports:
           - '8080:8080'
        environment:
            KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
            KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
            KC_DB: postgres
            KC_DB_URL: jdbc:postgresql://keycloak_db:5432/${POSTGRES_DB}
            KC_DB_USERNAME: ${POSTGRES_USER}
            KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
            KC_HOSTNAME: ${KEYCLOAK_HOSTNAME}
            KC_HOSTNAME_STRICT: "false"
            KC_PROXY_HEADERS: "xforwarded"
            KC_HTTP_ENABLED: "true"
        depends_on:
            - keycloak_db

    nginx:
        container_name: nginx
        build:
            context: ./
            dockerfile: ./dockerfiles/nginx
        restart: always
        volumes:
            - ./volumes/nginx/conf:/etc/nginx/conf.d
            - ./public/:/resource/public
            - ${SSL_PATH}:/resource/ssl
        ports:
            - '${KEYCLOAK_EXPOSED_PORT}:${KEYCLOAK_EXPOSED_PORT}'
        depends_on:
            - keycloak
